.gradle/
.idea/
.qodana/
build/
lib/evosuite-*.jar
lib/JUnitRunner.jar
**/evosuite-tests/
*.DS_Store

# Test projects
src/test/resources/project/.idea/

# Pizzeria project
src/test/resources/project/pizzeria/.idea/
src/test/resources/project/pizzeria/target/
src/test/resources/project/pizzeria/pizzeria.iml

# Untitled project
src/test/resources/project/untitled/.idea/
src/test/resources/project/untitled/target/
src/test/resources/project/untitled/untitled.iml
.jqwik-database

ktlint